/* -------------------------------------------------------------------------------------------------
  # Global Styles
------------------------------------------------------------------------------------------------- */
:root {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
}

// For IE
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

// For IE
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 100%;
  min-height: 100vh;
  font-size: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Tables
// --------------------------------------------------------------
table {
  margin: 0 0 18px;
}

// Images
// --------------------------------------------------------------
img {
  max-width: 100%;
  height: auto;
}
