/* -------------------------------------------------------------------------------------------------
  # Typography
------------------------------------------------------------------------------------------------- */
// Anchors
// --------------------------------------------------------------
a,
a:active,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

// Paragraphs
// --------------------------------------------------------------
p {
  max-width: 100%; // For IE

  &:empty {
    display: none !important;
  }
}
