/* -------------------------------------------------------------------------------------------------
  # Typography
------------------------------------------------------------------------------------------------- */
// Anchors
// --------------------------------------------------------------
a,
a:visited,
a:focus {
  text-decoration: none;
}

// Paragraphs
// --------------------------------------------------------------
p:empty {
  display: none !important;
}
